*/ {
  box-sizing: border-box;
}

header {
  background-color: rgb(116, 116, 230);
  padding: 40px;
  font-size: 36px;
  text-align: center;
}

body {
  background: rgb(145, 170, 216);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

hr {
  height: 3px;
  background: black;
}

h1 {
  margin: 0;
  font-size: 40px;
}

nav {
  text-align: end;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(116, 116, 230);
}

img {
  border-style: solid;
  border-color: black;
}

.bottom-left-1 {
  bottom: 40px;
  position: relative;
  left: 20px;
}
.bottom-left-2 {
  bottom: 40px;
  position: relative;
  left: 20px;
}
.bottom-left-3 {
  bottom: 40px;
  position: relative;
  left: 20px;
}

.bottom-left-4 {
  bottom: 40px;
  position: relative;
  left: 20px;
}
.bottom-left-5{
  bottom: 40px;
  position: relative;
  left: 20px;
  
}


.profile-pic {
  width: 400px;
  height: auto;
}

#picture:hover {
  background-color: yellow;
  
}

footer {
  text-align: center;
  font-size: 15px;
  background-color: rgb(231, 211, 185);
  margin-top: -10px;
}

#contact {
  color: red;
  font-size: 30px;
}

@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
   nav {
      background-color: #bb8588;
  }